.experience {
  display: flex;
}

.experience .lateral {
  max-width: 50px;
  margin-right: 20px;
}

.experience .lateral img {
  height: 50px;
  width: 50px;
}

.companyInformation {
  margin-bottom: 20px !important;
}

.experience .content, .companyInformation {
  margin: 0 auto 0 10px;
}

.experience .role {
  margin: 10px auto 0 auto;
}
